
<div class="card bg-dark text-white" style="width: 18rem; height: 100%; float: left; margin-left: 1rem;">
    <div class="card-body">
        <h5 class="card-title">There's more...</h5>
        <p class="card-text">...from this category!</p>
        <a href="@Link" class="btn btn-primary">See more...</a>
    </div>
</div>

@functions {

    [Parameter]
    private string Link { get; set; }

}
